.events__list-item {
	margin: 1rem 0;
	padding: 1rem;
	border: 1px solid darkorange;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.events__list-item h1 {
	margin: 0;
	font-size: 1.5rem;
	color: darkorange;
}

.events__list-item h2 {
	margin: 0;
	font-size: 0.8rem;
	color: grey;
}

.events__list-item p {
	margin: 0;
	font-size: 1rem;
	color: grey;
}
