.root {
	background-color: transparent;
	box-shadow: none;
	padding: 0px;
}

.main-navigation__logo {
	/* border: 1px solid red; */
}

.main-navigation__logo a {
	font-family: 'Hammersmith One';
	font-size: 2rem;
	padding: 0px;
	margin: 0px;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.links-container {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	/* border: 1px solid orange; */
}

.main-navigation__items {
	margin: 0 0 0 1.5rem;
	/* border: 1px solid red; */
}

.main-navigation__items ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
}

.links {
	font-family: 'Lora';
	font-size: 1rem;
	margin: 0 1rem;
}

.main-navigation__items a,
.main-navigation__items button {
	text-decoration: none;
	color: white;
	border: none;
	font: inherit;
	background: transparent;
	cursor: pointer;
	margin: 0;
}

.main-navigation__items a:hover,
.main-navigation__items a:active,
.main-navigation__items a.active,
.main-navigation__items button:hover,
.main-navigation__items button:active {
	color: darkorange;
	text-decoration: underline;
}

.auth-container a {
	text-decoration: none;
	color: white;
}

.auth-container a:hover {
	color: darkorange;
}

.auth-container a:hover,
.auth-container a:active,
.auth-container a.active,
.auth-container button:hover,
.auth-container button:active {
	color: darkorange;
	text-decoration: underline;
}

.links button {
	text-decoration: none;
	color: white;
	border: none;
	font: inherit;
	background: transparent;
	cursor: pointer;
	margin: 0;
}
